:root {
    --container-width: 1420px;
    --container-large-width: 1920px; 
    --container-login-width: 420px;

    --container-padding-x: 16px;
    --container-login-padding-x: 20px;
    --container-large-padding-x: 20px;
    --transition-duration: 0.2s;

    --border-radius: 32px;

    --Corner-radius: 10px;

    --White: #fff;
    --Bg: #0A0A0A;
    --BgButton: #191910;
    --Gride: #121212;
    --Title: liner-gradient( #D1D1D1 0%, #7D7C62 100%);
    --Text: #D1D1D1;
    --Links: liner-gradient( #D4BD2B 0%, #EA870B 100%);
    --Link: #D4BD2B;
    --DarkYellow: #37371A;
    --TextDark: #6D6D6D;
    --Gray2: #75767F;
   
}