.main {
    overflow: hidden;

    &__line {
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, #06050500 0%, #6F6318 50%, #06050500 100%);
        margin-top: 15px;
    }

    &__banner {
        margin-top: 90px;
        @include flex-column;
        align-items: center;
        overflow: hidden;

        @include tablet {
            margin-top: 40px;
        }

        &-vector {
            position: absolute;
            left: 0;
            top: 0;

            @include tablet {
                width: 317px;
                height: auto;
                
            }
        }

        &-title {
            margin-bottom: 16px;
            margin-top: 28px;
            text-align: center;
        }

        &-description {
            margin-bottom: 40px;
            max-width: 1050px;
            text-align: center;

            @include tablet {
                margin-bottom: 32px;
            }
        }

        &-video {
            margin-top: 90px;
            width: 100%;
            max-width: 884px;
            height: auto;
            margin-left: 78px;

            @include tablet {
                margin-top: 40px;
                margin-left: 0;
            }

            & > video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;
                z-index: 5;
            }

            &-vector {
                position: absolute;
                width: 100%;
                height: auto;
                left: 0;
                transform: translateY(25%);
            }
        }
    }

    &__table-contents {
        margin-top: 90px;
        padding: 32px;
        border-radius: 12px;
        background-color: #FFFFFF02; 

        @include tablet {
            margin-top: 40px;
        }

        &-wrapper {
            width: 100%;
        }

        &-title {
            @include font-dm-sans-32-bold;
            font-size: 16px;
            color: var(--Title);
            margin-bottom: 20px;
        }

        &-list {
            @include flex-row(5, space-between);
            overflow: auto;
            width: 100%;
            border-radius: 15px;

            &::-webkit-scrollbar {
                width: 0px;
                height: 0px;
            }
            
        }
    }

    &__choose {
        @include flex-row( 0, space-between);
        margin-top: 90px;
        height: 695px;
        align-items: center;

        @media screen and (max-width: 1350px) {
            height: auto;
        }

        @include tablet {
            flex-direction: column;
            height: auto;
            gap: 10px;
            margin-top: 40px;
        }
        

        &-text {
            @include flex-column(34);
            
            width: 100%;
            position: relative;
            z-index: 5;
        }

        &-list {
            @include flex-row(10, space-between);

            @media screen and (max-width: 1350px) {
                flex-direction: column;
                
            }
        }

        &-item {
            width: 100%;
            height: 164px;
            border-radius: 16px;
            background: linear-gradient(#191910 0%, #0A0A0A 100%);
            padding: 36px 20px;
            
            &-title {
                @include font-dm-sans-40-semibold;
                line-height: 110.0%;
                @include text-gradient(linear-gradient(#D1D1D1 0%, #7D7C62 100%));
                margin-bottom: 16px;
            }

            &-description {
                @include flex-row(11);
                align-items: center;

                &-text {
                    @include font-dm-sans-18-semibold;
                    @include text-gradient(linear-gradient(#D1D1D1 0%, #7D7C62 100%));
                    text-transform: uppercase;
                    
                }
            }


    
        }

        &-vector {
            position: absolute;
            left: 0;
            
        }

        &-video {
            width: 538px;
            position: relative;
            overflow: hidden;
            padding: 20px;
            z-index: 5;
            flex: 0 0 auto;

            @include mobile {
                width: 100%;
                height: 100%;
                overflow: visible;
            }
            
            &-wrapper {
                width: 488.3px;
                height: 488.3px;
                border-radius: 28px;
                background: linear-gradient(to left, #706833 0%, #191910 100%);
                position: relative;
                transform: rotate(-3deg);
                padding: 15px;
                z-index: 5;

                @include mobile {
                    border-radius: 22px;
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 1px;
                height: 100%;
                background: linear-gradient(#06050500 0%, #6F6318 50%, #06050500 100%);

                @include mobile {
                    display: none;
                }
            }
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right:  -44px;
                width: 138px;
                height: 274px;
                border-radius: 150px;
                background: var(--Link);
                filter:blur(40px);
                opacity: 0.5;
                
            }

            &-item {
                width: 100%;
                height: 100%;
                
                border-radius: 20px;

                @include mobile {
                    border-radius: 15px;

                }
            }
        }
    }

    &__how-it-works {
        margin-top: 90px;
        @include flex-column;

        @include tablet {
            margin-top: 40px;
        }

        &-heading {
            align-self: center;
        }
        

        &-title {
            margin-block: 28px 12px;
            text-align: center;
        }

        &-description {
            margin-bottom: 66px;
            max-width: 550px;
            text-align: center;
            align-self: center;
        }

        &-info {
            @include flex-row(20);
            margin-top: 28px;

            @include tablet {
                flex-direction: column;
                gap: 10px;
            }
            
        }

        &-item {
            @include flex-column;
            padding: 40px;
            border-radius: 16px;
            border: 2px solid transparent;
            background: linear-gradient(to left, #0A0A0A 0%, #0A0A0A 100%) padding-box,
            linear-gradient(180deg, #191910 0%, #0A0A0A 100%) border-box;

            @include tablet {
                padding: 20px;
            }

            &-icon {
                border-radius: 16px;
                border: 1px solid transparent;
                background: linear-gradient(to right, #121107 0%, #050505 100%) padding-box,
                linear-gradient(to right, #D4BD2B 0%, #060505 100%) border-box;
                width:100px;
                height: 100px;
                margin-bottom: 40px;

                @include tablet {
                    width: 80px;
                    height: 80px;
                }
            }

            &-image {
                width: 72px;
                height: 72px;

                @include tablet {
                    width: 57px;
                    height: 57px;
                }
            }

            &-title {
                @include font-dm-sans-32-bold;
                @include text-gradient(linear-gradient(#D1D1D1 0%, #7D7C62 100%));
                margin-bottom: 8px;
                @include fluid-text(32, 24);
            }

            &-description {
                color: var(--TextDark);
                @include fluid-text(20, 16);
            }
        }
    }

    &__gallery {
        margin-top: 90px;
        @include flex-column;
        align-items: center;

        @include tablet {
            margin-top: 40px;
        }

        &-title {
            margin-block: 28px 12px;
            text-align: center;
        }

        &-description {
            margin-bottom: 60px;
            max-width: 644px;
            text-align: center;
            @include fluid-text(20, 14);
            color: var(--Text);

            @include tablet {
                margin-bottom: 20px;
            }
        }

        &-wrapper {
            @include flex-row(12);
            flex-wrap: wrap;

            @include tablet {
                flex-wrap: nowrap;
                overflow-x: scroll;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }

        &-item {
            width: 346px;
            height: auto;
            flex: auto;
            border-radius: 17.65px;
            background-color: #6F6318;
            object-fit: cover;

            @include tablet {
                width: 408px;
                border-radius: 20px;
            }
            
        }
    }

    &__pricing {
        margin-top: 90px;
        padding: 80px 0;
        position: relative;
        @include flex-column;
        
        &-text {
            @include flex-column(28);
            align-items: center;
            align-self: center;
            margin-bottom: 12px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(to right, #0A0A0A 0%, #454526 50%,#0A0A0A 100%);
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(to right, #0A0A0A 0%, #454526 50%,#0A0A0A 100%);
        }
        

        @include tablet {
            margin-top: 40px;
            padding: 40px 0;
        }
    }

    &__services {
        margin-top: 90px;

        @include tablet {
            position: relative;
            margin-top: 40px;
        }
        
        &-vector {
            position: absolute;
            right: 0;
            transform: translateY(30px);

            @include tablet{
                width: 280px;
                height: auto;
                right: -11px;
                top: -50px;
            }
        }

        &-text {
            @include flex-row;
            
            @include mobile {
                flex-direction: column;
                gap: 12px;

                padding-bottom: 34px;
                border-bottom: 1px solid var(--BgButton);
            }

        }

        &-wrapper {
            @include flex-column;
            width: 100%;
            justify-content: end;
        }

        &-title {
            margin-top: 34px;
        }

        &-content {
            @include flex-row;
            margin-top: 60px;
            flex-wrap: wrap;

            @include mobile {
                margin-top: 0;
            }
        }

        &-item {
            width: 500px;
            height: auto;
            flex: auto;
            
            padding: 40px;

            &--1 {
                border-top: 1px solid var(--BgButton);
                border-right: 1px solid var(--BgButton);
                border-bottom: 1px solid var(--BgButton);
            }

            &--2 {
                border-top: 1px solid var(--BgButton);
                border-bottom: 1px solid var(--BgButton);
            }

            &--3 {
                border-right: 1px solid var(--BgButton);
                border-bottom: 1px solid var(--BgButton);
            }

            &--4 {
                border-bottom: 1px solid var(--BgButton);
            }

            @include tablet {
                border: none;
                padding: 20px 0;
            }

            &-title {
                margin-bottom: 4px;
                font-size: 40px;
            }

            &-images {
                @include flex-row;
                margin-top: 40px;
                width: 100%;
                height: 400px;
                border-radius: 20px;
                overflow: hidden;

                @include mobile {
                    height: 250px;
                    border-radius: 13px;
                }

                &-img {
                    width: 50%;
                    height: auto;
                    object-fit: cover;
                }
            }
            
        }


    }

    &__reviews {
        margin-top: 90px;

        @include tablet {
            margin-top: 40px;
        }

        &-heading {
            position: relative;
            z-index: 5;
        }

        &-vector {
            position: absolute;
            left: 0;
        }
        &-slider {
            position: relative;
            z-index: 5;

            &-text{
                @include flex-row(20, space-between);
                margin-bottom: 60px;
            }

            &-arrows {
                @include flex-row(9);
            }

            &-arrow {
                width: 60px;
                height: 60px;
                border-radius: 150px;
                background-color: var(--BgButton);
            }

            &-list {
                @include flex-row(20);
                margin-bottom: 40px;
            }

            &-item {
                width: 100%;
                height: 382px;
                border-radius: 16px;
                background: linear-gradient(to left, #191910 0%, #0A0A0A 100%);
                border: 1px solid var(--Link);
                
            }
        }

        &-banner {
            @include flex-row(20, space-between);
            padding: 60px 72px 60px 60px;
            height: 400px;
            border-radius: 32px;
            background: radial-gradient(370% 100% at 50% 0%, #58531A 0%, #191910 17%, #0A0A0A 100%) padding-box,
            linear-gradient(180deg, #D4BD2B 0%, #060505 100%) border-box;
            position: relative;
            z-index: 5;

            margin-bottom: 90px;
            margin-top: 40px;
            border: 4px solid transparent;
            overflow: hidden;

            @include tablet {
                padding: 60px 40px;
                height: auto;
                margin-bottom: 40px;
            }

            @include mobile {
                padding: 32px 32px 56px 32px;
                height: auto;

                @include flex-column;
                gap: 40px;
            }

            &-image {
                position: absolute;
                top: 0;
                right: 265px;
            }

            &-vector {
                position: absolute;
                top: 0;
                right: 0;
            }

            &-heading {
                @include flex-row(8);
                align-items: center;
                margin-bottom: 16px;

                &-text{
                    @include font-dm-sans-24-bold-italic;
                    color: var(--Link);
                }
            }

            &-title {
                margin-bottom: 4px;
            }
            &-description {
                color: var(--TextDark);
                max-width: 400px;
                @include fluid-text(20, 16);
            }

            &-text {
                position: relative;
                z-index: 5
            }

            &-buttons {
                margin-top: 98px;
                @include flex-column(12);
                position: relative;
                z-index: 5;

                & > a > button {
                    justify-content: center;
                    width: 100%;
                }

                @include mobile {
                    margin-top: 0;
                }

                & > span {
                    text-align: center;
                    @include font-dm-sans-16-semibold;
                }
            }
        }
    }

    &__faq {
        display: flex;
        flex-direction: row;
        margin-bottom: 80px;

        @include tablet {
            flex-direction: column;
            margin-bottom: 40px;
        }

        &-text{
            max-width: 620px;
            width: 100%;
        }

        &-title {
            margin: 34px 0 12px 0;
        }

        &-accordion {
            width: 100%;
            max-width: 800px;

            @include tablet {
                max-width: 100%;
                margin-top: 20px;
            }
        }
    }
}
