.slider {

    &__heading {
        @include flex-row(8, space-between);
        align-items: center;
        margin-block: 34px 60px;

        @include mobile {
            margin-block: 34px;
        }
    }

    &__buttons {
        @include flex-row(10);
    }

    &__button {
        @include reset-button;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: var(--BgButton);
        position: relative;
    }

    &__slide {
        @include flex-column(24);
        padding: 40px;
        width: 460px;
        height: 380px;
        border-radius: 16px;
        border: 2px solid transparent;
        background: linear-gradient(to left, #191910 0%, #0A0A0A 100%) padding-box,
        linear-gradient(180deg, #191910 0%, #0A0A0A 100%) border-box;

        @include mobile {
            width: 340px;
            height: auto;
            padding: 20px;
            gap: 16px;
        }

        &-user {
            @include flex-row(12);
            align-items: center;

            @include mobile {
                flex-direction: column;
                gap: 10px;
                align-items: flex-start;
            }

            &-avatar {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                overflow: hidden;

                &-image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &-name {
                &-title {
                    @include font-dm-sans-32-bold;
                    @include text-gradient(linear-gradient(#D1D1D1 0%, #7D7C62 100%));
                }

                &-date {
                    color: var(--TextDark);
                }
            }
        }

        &-text {
            @include font-dm-sans-20-regular;
            color: var(--TextDark);

            @include mobile {
                @include font-dm-sans-16-semibold;
            }
        }

        &-button {
            @include reset-button;
            @include flex-row(12);
            align-items: center;
            cursor: pointer;

            &-text {
                @include font-dm-sans-16-medium;
                color: var(--Link);
            }
        }
    }
}